//colors
$dark-blue: #294570;
$light-blue: #44B0B0;
$light-gray: #F4F4F4;
$dark-gray: #D0D0D0;
$base-black: #2A2A2A;
$base-white: #FFFFFF;

//breakpoints
$xs: 320px;
$md: 768px;
$lg: 1280px; //1920px

//default
$b-radius: 3px;
